.factsheets-page .image-container {
  display: none;
}

.previous .approach_materials_content {
  margin-top: 29px;
}

.previous {
  margin-bottom: 120px;
}

.latest {
  margin-bottom: 120px;
}


.previous .custom {
  /* border-top: 1px solid rgba(43, 43, 43, 0.6); */
  margin-top: 30px;
}

.previous .title-heading {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: var(--blueTheme);

}

.previous .custom a .document-list-loop .column-2 .title::before {
  content: '';
  height: 7px;
  width: 7px;
  background: #000000;
  border-radius: 50%;
  display: flex;
  margin: auto 10px auto 0;

}

.previous .custom a .document-list-loop .column-2 .title {
  display: flex;
  margin: auto;
}

.latest .custom-1 {
  /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
  margin-top: 30px;
}

.custom-1 .document-loop {
  border: none !important;
}

.latest .title-heading {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: var(--blueTheme);
  margin-top: 78px;

}

.load-more-button {
  border: 1px solid black;
  width: fit-content;
  padding: 13px 21px;
  margin: 61px auto 0px auto;
  cursor: pointer;
}

.load-more-button .svg {
  margin-left: 7px;
}

.document-list-loop {
  display: flex;
  gap: 34px;
  align-items: center;
  padding: 10px 0px 0px 0;
  /* border-bottom: 1px solid rgba(43, 43, 43, 0.6); */
}


.document-list-loop .column-1 {
  width: 64px;
  display: none;

}

.document-list-loop .column-2 .title {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 20px;

}

.document-list-loop .column-2 .date {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-transform: uppercase;
  color: var(--blueTheme);
  display: none;
}

@media (min-width:768px) and (max-width:1024px) {
  .latest .title-heading {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: var(--blueTheme);
    margin-top: 48px;

  }

  .previous .title-heading {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: var(--blueTheme);
    margin-top: 48px;

  }

  .previous {
    margin-bottom: 90px;
  }

  .latest {
    margin-bottom: 90px;
  }

  .latest .custom-1 {

    margin-top: 15px;
  }

  .previous .custom {

    margin-top: 15px;
  }

  .document-list-loop {
    gap: 22px;
    padding: 10px 0px;
  }

  .document-list-loop .column-1 {
    width: 34px;
  }

  .document-list-loop .column-2 .title {
    font-size: 16px;
    line-height: 1.25em;
    margin-bottom: .5em;
  }

  .document-list-loop .column-2 .date {
    font-size: 16px;
    line-height: 1.25em;
    margin-bottom: .5em;
  }
}

@media (max-width:768px) {
  .latest .title-heading {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: none;
    color: var(--blueTheme);
    margin-top: 48px;

  }

  .previous .title-heading {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: none;
    color: var(--blueTheme);
    margin-top: 48px;

  }

  .previous {
    margin-bottom: 72px;
  }

  .latest {
    margin-bottom: 72px;
  }

  .latest .custom-1 {

    margin-top: 15px;
  }

  .previous .custom {

    margin-top: 15px;
  }

  .document-list-loop {
    gap: 22px;
    padding: 7px 0px;
  }

  .document-list-loop .column-1 {
    width: 24px;
  }

  .document-list-loop .column-2 .title {
    font-size: 14px;
    line-height: 1.25em;
    margin-bottom: .5em;
  }

  .document-list-loop .column-2 .date {
    font-size: 14px;
    line-height: 1.25em;
    margin-bottom: .5em;
  }
}